@import "./fonts.css";

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";

    --breakpoint-xs: 30rem;

    --container-3\.5xl: 52rem;

    --text-2xs: 0.625rem;
    --text-2xs--line-height: calc(0.75 / 0.625);
    --text-4\.5xl: 2.625rem;
    --text-4\.5xl--line-height: 1;

    --text-shadow-hard-xs: 0 1px 0 rgb(0, 0, 0 / 0.25);
    --text-shadow-hard-sm: 0 2px 0 rgb(0, 0, 0 / 0.25);
    --text-shadow-hard-md: 0 4px 0 rgb(0, 0, 0 / 0.25);
    --text-shadow-hard-lg: 0 6px 0 rgb(0, 0, 0 / 0.25);

    --color-xellanix-50: var(--xellanix-50);
    --color-xellanix-100: var(--xellanix-100);
    --color-xellanix-200: var(--xellanix-200);
    --color-xellanix-300: var(--xellanix-300);
    --color-xellanix-400: var(--xellanix-400);
    --color-xellanix-500: var(--xellanix-500);
    --color-xellanix-600: var(--xellanix-600);
    --color-xellanix-700: var(--xellanix-700);
    --color-xellanix-800: var(--xellanix-800);
    --color-xellanix-900: var(--xellanix-900);
    --color-xellanix-950: var(--xellanix-950);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-brand: var(--brand);
    --color-brand-foreground: var(--brand-foreground);
    --color-brand-hover: var(--brand-hover);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --xellanix-50: color-mix(in oklab, #f1f7fe 100%, transparent);
    --xellanix-100: color-mix(in oklab, #e2effc 100%, transparent);
    --xellanix-200: color-mix(in oklab, #bfdef8 100%, transparent);
    --xellanix-300: color-mix(in oklab, #86c3f3 100%, transparent);
    --xellanix-400: color-mix(in oklab, #46a4ea 100%, transparent);
    --xellanix-500: color-mix(in oklab, #1d88da 100%, transparent);
    --xellanix-600: color-mix(in oklab, #0f65af 100%, transparent);
    --xellanix-700: color-mix(in oklab, #0e5596 100%, transparent);
    --xellanix-800: color-mix(in oklab, #10497c 100%, transparent);
    --xellanix-900: color-mix(in oklab, #133e67 100%, transparent);
    --xellanix-950: color-mix(in oklab, #0d2744 100%, transparent);

    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply [--success:color-mix(in_oklab,#EBF9EB_100%,transparent)];
    @apply [--success-foreground:color-mix(in_oklab,#2d912d_100%,transparent)];
    @apply [--success-border:color-mix(in_oklab,#ceefce_100%,transparent)];
    @apply [--error:var(--color-red-50)];
    @apply [--error-foreground:var(--color-red-500)];
    @apply [--error-border:var(--color-red-100)];
    @apply [--warning:var(--color-yellow-50)];
    @apply [--warning-foreground:var(--color-yellow-500)];
    @apply [--warning-border:var(--color-yellow-100)];
    --info: color-mix(in oklab, #f1f7fe 100%, transparent);
    --info-foreground: color-mix(in oklab, #0f65af 100%, transparent);
    --info-border: color-mix(in oklab, #e2effc 100%, transparent);

    --radius: 0.625rem;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    --primary: oklch(0.208 0.042 265.755);
    --primary-foreground: oklch(0.984 0.003 247.858);
    --secondary: oklch(0.968 0.007 247.896);
    --secondary-foreground: oklch(0.208 0.042 265.755);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --brand: var(--xellanix-600);
    --brand-foreground: var(--xellanix-50);
    --brand-hover: var(--xellanix-700);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    @apply [--sidebar:var(--color-slate-100)];
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    @apply [--sidebar-accent:var(--color-slate-200)];
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
}

.dark {
    @apply [--success:color-mix(in_oklab,#1E452B_100%,transparent)];
    @apply [--success-foreground:color-mix(in_oklab,#ceefce_100%,transparent)];
    @apply [--success-border:color-mix(in_oklab,#1e611e_100%,transparent)];
    @apply [--error:color-mix(in_oklab,#502029_100%,transparent)];
    @apply [--error-foreground:var(--color-red-100)];
    @apply [--error-border:var(--color-red-900)];
    @apply [--warning:color-mix(in_oklab,#51351D_100%,transparent)];
    @apply [--warning-foreground:var(--color-yellow-100)];
    @apply [--warning-border:var(--color-yellow-800)];
    --info: color-mix(in oklab, #133e67 100%, transparent);
    --info-foreground: color-mix(in oklab, #e2effc 100%, transparent);
    --info-border: color-mix(in oklab, #10497c 100%, transparent);

    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --card: oklch(0.208 0.042 265.755);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.929 0.013 255.508);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(0.279 0.041 260.031);
    --secondary-foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --brand: var(--xellanix-300);
    --brand-foreground: var(--xellanix-900);
    --brand-hover: var(--xellanix-200);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    @apply [--sidebar:var(--color-slate-900)];
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    @apply [--sidebar-accent:var(--color-slate-800)];
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}

@utility no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

@utility thin-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }

    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    -ms-overflow-style: auto;
    -webkit-overflow-scrolling: touch;
}
